<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 프로필</title>
</head>
<body>
    <header>
        <h1>일기</h1>
        <button>로그아웃</button>
    </header>
    <main>
        <div>
            <h2>내 프로필</h2>
            <span>이름</span> <br>
            <span>아이디</span> <br>
            <span>이메일</span> <br>
            <span>프로필 이미지</span>
            <button>이미지 변경</button> <br>
            <button>비밀번호 변경</button>
        </div>
    </main>
</body>
</html>